// landing page grid

body {
  background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGElEQVQIW2NkiPv/n2ERIyMDFMAZxAsAAMFeAwU8FTX3AAAAAElFTkSuQmCC") repeat;

  .welcome-page {
    font-family: "Cutive Mono";
    @include outer-container;
    background-color: #fff;
    padding-bottom: 10%;
    padding-top: 5%;
    margin-left: 20%;
    text-align: center;
    margin-right: 20%;
    margin-top: 3%;
    border: 5px solid red;
    border-top: 20px solid red;
    border-bottom: 20px solid red;

    .headline {
      font-size: 60px;
    }

    .welcome-name {
      padding-top: 5%
    }

    .log-container {
      padding-top: 10%;
    }

    a {
      text-decoration: none;
      color: black;
    }

    a:hover{
      background-color: blue;
      color: white;
    }
  }


  .button {
    background-color: inherit;
    padding: 1em;
    margin-top: 5%;
    border: 1px solid #000;
    border-radius: 5px;
  }

}
