// landing page grid

.landing {
    @include outer-container(100%);
    padding-top:  20%;
    padding-left: 40%;
    padding-right: 40%;

    .headline {
    }
  }

.logout-container {
  @include outer-container(50%);
  padding-top: 5%;

    .button {
      $icon-size: 1.6em;
      background-color: whitesmoke;
      padding: 1em;
      width: 100%;
    }
}

.log-in-container {
  @include outer-container(75%);
  padding-top: 10%;

    .button {
      $icon-size: 1.6em;
      background-color: whitesmoke;
      padding: 1em;
      width: 100%;
    }
}
