// landing page grid

body {

  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAQUlEQVQYV2NkQAda/2cyXGNMRxdmRBGAKcKiGKEQXRKND1GIwzpkcUacimBughqC6kYMn0EFtP7PJE4hAwMD0QoBaeYcy77fIocAAAAASUVORK5CYII=") repeat;

  .loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/hourglass.gif') 50% 50% no-repeat rgb(249,249,249);
  }


  .welcome-page {
    font-family: "Cutive Mono";
    @include outer-container;
    background-color: #fff;
    padding-bottom: 5%;
    margin-left: 20%;
    text-align: center;
    margin-right: 20%;
    margin-top: 2%;
    border: 5px solid red;
    border-top: 20px solid red;
    border-bottom: 20px solid red;

    .headline {
      font-size: 60px;
    }

    .welcome-name {
      padding-top: 5%
    }

    .log-container {
      padding-top: 10%;
    }

    .logout {
      margin-top: 10%;
    }

    a {
      text-decoration: none;
      color: black;
    }

    a:hover{
      background-color: blue;
      color: white;
    }
  }


  .button {
    background-color: inherit;
    padding: 1em;
    margin-top: 5%;
    border: 1px solid #000;
    border-radius: 5px;
  }

}
