<div class="all">
  <% @trending_fonts.each do |font| %>
  <div class="font">
    <h2><%= font.family %></h2>
    <br>
    <p><%= font.subsets %></p>
    <br>
    <%= link_to "Download", font.file %>
    <hr>
  <% end %>
  </div>
</div>
